<a class="text-decoration-none text-gray-600" [routerLink]="['/requests/list']">
  <i class="fa fa-chevron-left"></i>
  <span class="font-lg ml-2" [translate]="'Requests.Homepage'"></span>
</a>
<h2 class="pb-4 pt-2" [translate]="'PreferredSpecialtyRequestActions.PreferredSpecialtyRequest'"></h2>
<div class="card">
  <div class="card-body">
    <div *ngIf="loading == false && preferredSpecialtyRequestAction == null">
      <ng-container *ngIf="!currentSpecialtyName else requestNotAvailable;">
        <advanced-form-edit
          #form
          [data]="data"
          [formName]="src"
          (formSubmitted)="onCompletedSubmission($event)"
        ></advanced-form-edit>
      </ng-container>
      <ng-template #requestNotAvailable>
        <span [translate]="'PreferredSpecialtyRequestActions.AlreadyFollowsSpecialty'"
          [translateParams]="{specialty: currentSpecialtyName}"></span>
      </ng-template>
    </div>
  </div>
</div>
