<div class="col-12">
  <h2 class="d-flex col-sm-8 col-12" [translate]="'Events.Title'"></h2>

  <div  *ngIf="!isLoading" class="col-12 mt-3">
    <universis-events-view [events]="events" [exportQuery]="upcomingEventsQuery"></universis-events-view>
  </div>
</div>
